AdfWeathertb/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AdfWeathertb"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=smweather;EndpointSuffix=core.windows.net;"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"SandboxAzure_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SandboxAzure'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"stagerawdata_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'stagerawdata'"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1101-200746-l7lbyi4n"
		},
		"GiosRestApi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.gios.gov.pl/pjp-api/rest/"
		},
		"azk_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://tobepasswords.vault.azure.net/"
		},
		"stagerawdata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://smweather.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Ingest All stations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AllStations ingest",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "GIOS_RestApi",
								"type": "DatasetReference",
								"parameters": {
									"RestApiRelative": "station/findAll"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AllStations_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "1_FromRestApi"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-16T10:46:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GIOS_RestApi')]",
				"[concat(variables('factoryId'), '/datasets/AllStations_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load From Raw to table AllStations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AllStations",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['stationName']"
										},
										"sink": {
											"name": "stationName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['gegrLat']"
										},
										"sink": {
											"name": "gegrLat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['gegrLon']"
										},
										"sink": {
											"name": "gegrLon",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['city']['id']"
										},
										"sink": {
											"name": "Cityid",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['city']['name']"
										},
										"sink": {
											"name": "Cityname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['city']['commune']['communeName']"
										},
										"sink": {
											"name": "communeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['city']['commune']['districtName']"
										},
										"sink": {
											"name": "districtName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['city']['commune']['provinceName']"
										},
										"sink": {
											"name": "provinceName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['addressStreet']"
										},
										"sink": {
											"name": "addressStreet",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AllStationFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AllStations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"ListOfFiles": {
						"type": "Array"
					},
					"FilePath": {
						"type": "String"
					}
				},
				"folder": {
					"name": "2_FromBlogToStg"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-22T11:50:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AllStationFiles')]",
				"[concat(variables('factoryId'), '/datasets/AllStations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadOnlyNewStations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Python1",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "/Users/tobe@softwaremind.com/FromRestAPI",
							"parameters": [],
							"libraries": [
								{
									"jar": ""
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2_FromBlogToStg"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-24T15:22:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SensorsFromAllStations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAvailableSensors",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Clear metadata Station",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select\n\talst.id\nfrom\n\tdbo.AllStations as alst\n\tleft join dbo.MetaData_Station as mdst\n\ton alst.id = mdst.id\nwhere\n\tmdst.id is null",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadCommitted",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AllStations",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEveryStationGetSensors",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetAvailableSensors",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetAvailableSensors').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SetStationId",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "StationId",
										"value": {
											"value": "@string(item().id)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CreateJsonFileFromRestSensors",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Stored procedure1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 1,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['id']"
													},
													"sink": {
														"path": "$['id']"
													}
												},
												{
													"source": {
														"path": "$['stationId']"
													},
													"sink": {
														"path": "$['stationId']"
													}
												},
												{
													"source": {
														"path": "$['param']['paramName']"
													},
													"sink": {
														"path": "$['param']['paramName']"
													}
												},
												{
													"source": {
														"path": "$['param']['paramFormula']"
													},
													"sink": {
														"path": "$['param']['paramFormula']"
													}
												},
												{
													"source": {
														"path": "$['param']['paramCode']"
													},
													"sink": {
														"path": "$['param']['paramCode']"
													}
												},
												{
													"source": {
														"path": "$['param']['idParam']"
													},
													"sink": {
														"path": "$['param']['idParam']"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "GIOS_RestApi",
											"type": "DatasetReference",
											"parameters": {
												"RestApiRelative": {
													"value": "@Concat('station/sensors/',variables('StationId'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AllSensors",
											"type": "DatasetReference",
											"parameters": {
												"StationId": {
													"value": "@variables('StationId')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SetStationId",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[MetadataStationWork]",
										"storedProcedureParameters": {
											"ID": {
												"value": {
													"value": "@variables('StationId')",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Clear metadata Station",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "truncate table dbo.MetaData_Station"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"StationId": {
						"type": "String",
						"defaultValue": "14"
					}
				},
				"folder": {
					"name": "1_FromRestApi"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-04T12:40:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AllStations')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]",
				"[concat(variables('factoryId'), '/datasets/GIOS_RestApi')]",
				"[concat(variables('factoryId'), '/datasets/AllSensors')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AllSensors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stagerawdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"StationId": {
						"type": "string",
						"defaultValue": "14"
					}
				},
				"folder": {
					"name": "ADLS_FlatFiles"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('Station_',dataset().StationId,'_T:',string(formatDateTime(utcnow(),'HH:mm:ss')),'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@string(formatDateTime(utcnow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "stagerawdata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stagerawdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AllStationFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stagerawdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_FlatFiles"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Stations00:55:02.json",
						"folderPath": "2022-12-29",
						"fileSystem": "stagerawdata"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"stationName": {
							"type": "string"
						},
						"gegrLat": {
							"type": "string"
						},
						"gegrLon": {
							"type": "string"
						},
						"city": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"name": {
									"type": "string"
								},
								"commune": {
									"type": "object",
									"properties": {
										"communeName": {
											"type": "string"
										},
										"districtName": {
											"type": "string"
										},
										"provinceName": {
											"type": "string"
										}
									}
								}
							}
						},
						"addressStreet": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stagerawdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AllStations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SandboxAzure",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "LocalDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "stationName",
						"type": "nvarchar"
					},
					{
						"name": "gegrLat",
						"type": "nvarchar"
					},
					{
						"name": "gegrLon",
						"type": "nvarchar"
					},
					{
						"name": "Cityid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Cityname",
						"type": "nvarchar"
					},
					{
						"name": "communeName",
						"type": "nvarchar"
					},
					{
						"name": "districtName",
						"type": "nvarchar"
					},
					{
						"name": "provinceName",
						"type": "nvarchar"
					},
					{
						"name": "addressStreet",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AllStations"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SandboxAzure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AllStations_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stagerawdata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_FlatFiles"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('Stations',string(formatDateTime(utcnow(),'HH:mm:ss')),'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@string(formatDateTime(utcnow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "stagerawdata"
					},
					"encodingName": "UTF-8 without BOM"
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"stationName": {
							"type": "string"
						},
						"gegrLat": {
							"type": "string"
						},
						"gegrLon": {
							"type": "string"
						},
						"city": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"name": {
									"type": "string"
								},
								"commune": {
									"type": "object",
									"properties": {
										"communeName": {
											"type": "string"
										},
										"districtName": {
											"type": "string"
										},
										"provinceName": {
											"type": "string"
										}
									}
								}
							}
						},
						"addressStreet": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stagerawdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GIOS_RestApi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GiosRestApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"RestApiRelative": {
						"type": "string",
						"defaultValue": "station/findAll"
					}
				},
				"folder": {
					"name": "RestApi"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().RestApiRelative",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GiosRestApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sensors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "LocalDB"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sensors"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "azk",
							"type": "LinkedServiceReference"
						},
						"secretName": "StorageKey"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1132735053060448.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GiosRestApi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GiosRestApi_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SandboxAzure')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SandboxAzure_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IntRunTImeLocalDB",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntRunTImeLocalDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azk')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('azk_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stagerawdata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('stagerawdata_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('stagerawdata_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnceDailyInNight')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Ingest All stations",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-09-15T00:55:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Ingest All stations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntRunTImeLocalDB')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AllFlatFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get List of all folders",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AllFiles",
								"type": "DatasetReference",
								"parameters": {
									"FolderName": {
										"value": "''",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "For each folder",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get List of all folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get List of all folders').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "AllFiles",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "JsonReadSettings"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "BlobStorage"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AllFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AllFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stagerawdata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_FlatFiles"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "stagerawdata"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stagerawdata')]"
			]
		}
	]
}