pipeline/Load From Raw to table AllStations.json
{
	"name": "Load From Raw to table AllStations",
	"properties": {
		"activities": [
			{
				"name": "For each file load new stations",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List files stations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List files stations').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AllStations",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable cointainerName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable fileName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable FolderName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": true
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['id']"
											},
											"sink": {
												"name": "id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['stationName']"
											},
											"sink": {
												"name": "stationName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['gegrLat']"
											},
											"sink": {
												"name": "gegrLat",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['gegrLon']"
											},
											"sink": {
												"name": "gegrLon",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['city']['id']"
											},
											"sink": {
												"name": "Cityid",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['city']['name']"
											},
											"sink": {
												"name": "Cityname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['city']['commune']['communeName']"
											},
											"sink": {
												"name": "communeName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['city']['commune']['districtName']"
											},
											"sink": {
												"name": "districtName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['city']['commune']['provinceName']"
											},
											"sink": {
												"name": "provinceName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['addressStreet']"
											},
											"sink": {
												"name": "addressStreet",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "AllStationFiles",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@variables('ContainerName')",
											"type": "Expression"
										},
										"FolderName": {
											"value": "@variables('FolderName')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@variables('FileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AllStations",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable cointainerName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ContainerName",
								"value": {
									"value": "@string(item().ContainerName)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable FolderName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FolderName",
								"value": {
									"value": "@string(item().FolderName)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable fileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@string(item().FileName)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Update as loaded file",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "AllStations",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SandboxAzure",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update\ntarget\nset\n\tDataLoaded = 1\nfrom\n\tdbo.DataLake_FilesMetadata as target\nwhere\n\tContainerName = variables('ContainerName')\n\tand FolderName = variables('FolderName')\n\tand FileName = variables('FileName')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "List files stations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select\n\tContainerName\n\t,FolderName\n\t,FileName\nfrom\n\tdbo.DataLake_FilesMetadata\nwhere\n\tFileName like '%Stations%.json%'\n\tand ISNULL(DataLoaded,0) = 0\norder by\n\tid asc",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AllStations",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"ListOfFiles": {
				"type": "Array"
			},
			"FileName": {
				"type": "String"
			},
			"FolderName": {
				"type": "String"
			},
			"ContainerName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "2_FromBlogToStg"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-22T11:50:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}